[user]
	name = Andrej Zacharevicz
	email = andrej@zahar.ws
[init]
	defaultBranch = main
[alias]
	st = status
	co = commit
	ch = checkout
	ps = push
	pl = pull
	fe = fetch
	sl = stash list
	spu = stash push
	spo = stash pop
	sa = stash apply
	sd = stash drop
	ssh = stash show

[core]
	editor = vim
